.sc{
  width: 100%;
  height: 100%;
  border: solid 1px red;
  background: $base;
}

/* btné¡ž */ 
.btn{
  width: 100%;
  height: 54px;
  background: #fff;
  border: solid 1px red;
  font-size: 1.6rem;
}
.box-btns{
  margin: 0 auto;
  p{
    margin: 30px 0 10px;
    font-size: 1.3rem;
  }
}
.btn-return{
  width: 8px;
}

/* header */
.head-be{
  border-bottom: solid 1px rgba(255,255,255,0.15);
  .btn-return{
    margin-top: 24px;
  }
  h2{
    margin: 56px 0 40px;
    text-align: center;
  }
}