/* wrap-af */
.wrap-af{
  position: relative;
}
.af-screens{
  position: relative;
  left: 100%;
  transition: ease 0.4s;
  .sc{
    position: absolute;
  }
  .sc-home{
    left: -100%;
  }
  .sc-set{
    left: 100%;
  }
}

.af-nav{
  width: 100%;
  height: 100px;
  background: $base;
  position: absolute;
  bottom: 0;
  z-index: 1;
  transition: 0.4s;
  ul{
    width: 100%;
    display: flex;
    margin-top: 16px;
    position: relative;
    li{
      width: 120px;
      list-style-type: none;
      position: absolute;
      &:first-child{
        left: 8%;
      }
      &:nth-of-type(2){
        left: 50%;
        transform: translateX(-50%);
      }
      &:last-child{
        right: 8%;
      }
    }
  }
  &.down{
    bottom: -100px;
  }
}
.btn-menu{
  width: 30px;
  height: 42px;
  margin: 0 auto;
  position: relative;
  transition: ease 0.2s;
  &::before{
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
  }
  &__img{
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

  }
  &__ttl{
    opacity: 0;
    font-size: 1.3rem;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.btn-move-home.on{
  width: 120px;
  &::before{
    opacity: 1;
  }
  .btn-menu__img{
    left: 36px;
  }
  .btn-menu__ttl{
    &.on{
      opacity: 1;
    }
    left: 58px;
  }
}
.btn-move-my.on{
  width: 120px;
  &::before{
    opacity: 1;
  }
  .btn-menu__img{
    left: 26px;
  }
  .btn-menu__ttl{
    &.on{
      opacity: 1;
    }
    left: 42px;
  }
}
.btn-move-set.on{
  width: 120px;
  &::before{
    opacity: 1;
  }
  .btn-menu__img{
    left: 40px;
  }
  .btn-menu__ttl{
    &.on{
      opacity: 1;
    }
    left: 62px;
  }
}





/* sc-check */
.sc-check{
  position: absolute;
  left: 100%;
  transition: ease 0.4s;
  z-index: 1;
  background: #fff;
  overflow-x: hidden;
  z-index: 10;
  &.on{
    left: 0%;
  }
  li{
    list-style-type: none;
  }
  >div:first-child header p{
    width: 100%;
  }
}
.sc-quest{
  width: 100%;
  height: 100%;
  padding: 0 20px;
  border: solid 3px skyblue;
  position: absolute;
  background: #fff;
  transition: ease 0.4s;
  &:not(:first-child){
    left: 100%;
  }
  &.on{
    left: 0%;
  }
  &__ttl{
    margin-top: 70px;
    font-size: 2.4rem;
    font-weight: 500;
    span{
      font-size: 2rem;
      font-weight: 400;
    }
  }
  .btn-next{
    display: block;
    margin: 30px auto 0 auto;
    width: 170px;
    height: 76px;
    background: $base;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 500;
  }
  figure{
    width: 170px;
    height: 170px;
    background: tomato;
  }
}
.header-qu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  p{
    width: 80%;
    height: 45px;
    border: solid 3px $gray;
    border-radius: 23px;
    font-size: 1.8rem;
    line-height: 45px;
    font-family: $roboto;
    font-weight: 500;
    text-align: center;
  }
  button{
    width: 10px;
    height: 20px;
  }
}

.box-choice{
  width: 100%;
  >p{
    width: 100%;
    input{
      display: none;
    }
    input + label{
      display: block;
      width: 100%;
      height: 72px;
      text-align: center;
      font-size: 2rem;
      border-radius: 6px;
      line-height: 72px;
      font-family: $roboto;
      font-weight: 500;
    }
  }
  .choice-y{
    input + label{
      border: solid 3px rgba(82,178,162,0.5);
      color: $base;
    }
    input:checked + label{
      background: $base;
      color: #fff;
    }
  }
  .choice-n{
    input + label{
      border: solid 3px rgba(213,109,118,0.5);
      color: $pink;
    }
    input:checked + label{
      background: $pink;
      color: #fff;
    }
  }
}

.box-check{
  p{
    input{
      display: none;
      &:checked{
        &+label span:last-child{
          background: $base;
        }
      }
      &+label{
        display: block;
        width: 100%;
        height: 62px;
        border: solid 3px $base;
        font-size: 1.6rem;
        position: relative;
      }
    }
    span{
      display: block;
      line-height: 62px;
      &:last-child{
        width: 28px;
        height: 28px;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        border: solid 1px $base;
        text-align: center;
        line-height: 32px;
        img{
          width: 50%;
          height: auto;
        }
      }
    }
  }
}



/* sc-home */
.sc-home{
  .box-chara{
    // &__mes{

    // }
    &__img{
      width: 86px;
    }
  }
  .list-btn{
    li{
      width: 100%;
      height: 30px;
      border: solid 1px red;
      button{
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* sc-set */
.sc-set{
  padding: 0 40px;
  h2{
    font-size: 3.2rem;
  }
  .box-push{
    display: flex;
    justify-content: space-between;
    h3{
      font-size: 2rem;
    }
    &__btns{
      display: flex;
      align-items: center;
    }
  }
}
.btn-push{
  width: 60px;
  height: 32px;
  border-radius: 100px;
  position: relative;
  span{
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
  }
  &.on{
    border: solid 1px $base;
    span{
      left: 30px;
      background: $base;
    }
  }
  &.off{
    border: solid 1px $pink;
    span{
      left: 2px;
      background: $pink;
    }
  }
}
.btn-push-off,
.btn-push-on{
  font-size: 1.4rem;
}
.btn-push-off.check{
  color: $pink;
}
.btn-push-on.check{
  color: $base;
}

.time-display{
  div{
    display: flex;
    p{
      font-size: 2.8rem;
    }
  }
}

