/* wrap-af */
.wrap-af{

    color: $black;

  position: relative;
  &.hid{
    overflow: hidden;
  }
}
.af-screens{
  position: relative;
  left: 100%;
  transition: ease 0.4s;
  z-index: 1;
  .sc{
    position: absolute;
  }
  .sc-home{
    left: -100%;
  }
  .sc-set{
    left: 100%;
    h2{
      margin-top: 80px;
      font-weight: 500;
    }
  }
}

.af-nav{
  width: 100%;
  height: 76px;
  background: $base;
  position: absolute;
  bottom: 0;
  z-index: 100;
  transition: 0.4s;
  border-radius: 30px 30px 0 0;
  ul{
    width: 100%;
    display: flex;
    margin-top: 20px;
    position: relative;
    li{
      width: 120px;
      list-style-type: none;
      position: absolute;
      &:first-child{
        left: 8%;
      }
      &:nth-of-type(2){
        left: 50%;
        transform: translateX(-50%);
      }
      &:last-child{
        right: 8%;
      }
    }
  }
  &.down{
    bottom: -100px;
  }
}
.btn-menu{
  width: 30px;
  height: 38px;
  margin: 0 auto;
  position: relative;
  transition: ease 0.2s;
  &::before{
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
  }
  &__img{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

  }
  &__ttl{
    opacity: 0;
    font-size: 1.3rem;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.btn-move-home.on{
  width: 120px;
  &::before{
    opacity: 1;
  }
  .btn-menu__img{
    left: 36px;
  }
  .btn-menu__ttl{
    &.on{
      opacity: 1;
    }
    left: 58px;
  }
}
.btn-move-my.on{
  width: 120px;
  &::before{
    opacity: 1;
  }
  .btn-menu__img{
    left: 26px;
  }
  .btn-menu__ttl{
    &.on{
      opacity: 1;
    }
    left: 42px;
  }
}
.btn-move-set.on{
  width: 120px;
  &::before{
    opacity: 1;
  }
  .btn-menu__img{
    left: 40px;
  }
  .btn-menu__ttl{
    &.on{
      opacity: 1;
    }
    left: 62px;
  }
}





/* sc-check */
.sc-check{
  position: absolute;
  left: 100%;
  transition: ease 0.4s;
  z-index: 10;
  background: #fff;
  overflow-x: hidden;
  &.on{
    left: 0%;
  }
  li{
    list-style-type: none;
  }
  >div:first-child header p{
    width: 100%;
  }
  >div:not(:last-child){
    background-image: url("../img/bg-chack.png");
    width: 100%;
    position: absolute;
    bottom: 0;
    background-position: right -26px bottom -34px;
    background-repeat: no-repeat;
  }
}
.sc-quest{
  width: 100%;
  height: 100%;
  padding: 0 20px;
  position: absolute;
  background: #fff;
  transition: ease 0.4s;
  z-index: 1;
  left: 100%;
  &.on{
    left: 0%;
  }
  &__ttl{
    margin-top: 26px;
    font-size: 2.2rem;
    font-weight: 500;
    span{
      font-size: 2rem;
      font-weight: 400;
    }
  }
  figure{
    width: 170px;
    height: 170px;
    margin: 24px auto 62px;
  }
}
.btn-next,
.btn-result{
  display: block;
  width: 154px;
  height: 64px;
  position: absolute;
  bottom: 38px;
  left: 50%;
  transform: translateX(-50%);
  background: $base;
  border-radius: 100px;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 500;
}

.header-qu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  p{
    width: 80%;
    height: 45px;
    border: solid 3px $gray;
    border-radius: 23px;
    font-size: 1.8rem;
    line-height: 40px;
    font-family: $roboto;
    font-weight: 500;
    text-align: center;
  }
  button{
    width: 10px;
    height: 20px;
  }
}

.box-choice{
  width: calc(100% - 40px);
  position: absolute;
  bottom: 134px;
  >p{
    width: 100%;
    input{
      display: none;
    }
    input + label{
      display: block;
      width: 100%;
      height: 64px;
      text-align: center;
      font-size: 2rem;
      border-radius: 6px;
      line-height: 60px;
      font-family: $roboto;
      font-weight: 500;
    }
  }
  .choice-y{
    margin-bottom: 18px;
    input + label{
      border: solid 3px rgba(82,178,162,0.5);
      color: $base;
    }
    input:checked + label{
      background: $base;
      color: #fff;
    }
  }
  .choice-n{
    input + label{
      border: solid 3px rgba(213,109,118,0.5);
      color: $red;
    }
    input:checked + label{
      background: $red;
      color: #fff;
    }
  }
}

.box-check{
  width: calc(100% - 40px);
  position: absolute;
  bottom: 180px;
  p{
    input{
      display: none;
      &:checked{
        &+label span:last-child{
          background: $base;
        }
      }
      &+label{
        display: block;
        width: 100%;
        height: 62px;
        margin-top: 18px;
        border: solid 4px rgba(82,178,162,0.5);
        border-radius: 5px;
        font-size: 1.6rem;
        position: relative;
      }
    }
    span{
      display: block;
      line-height: 56px;
      margin-left: 24px;
      &:last-child{
        width: 28px;
        height: 28px;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        border: solid 3px rgba(82,178,162,0.5);
        text-align: center;
        line-height: 24px;
        img{
          width: 50%;
          height: auto;
        }
      }
    }
  }
}
.box-smoke{
  margin: 24px 0 20px;
  border-radius: 8px;
  border: solid 4px rgba(82,178,162,0.5);
}
.check-smoke{
  input{
    display: none;
    &:checked+label{
      background: $red;
      color: #fff;
    }
  }
  label{
    display: block;
    width: 100%;
    height: 72px;
    line-height: 66px;
    border: solid 4px rgba(213,109,118,0.5);
    border-radius: 6px;
    text-align: center;
    font-size: 2rem;
    
  }
}

.result{
  padding-bottom: 120px;
  overflow-x: hidden; 
  overflow-y: scroll;
}
.box-result{
  position: relative;
  &::before,
  &::after{
    display: block;
    content: "";
    position: absolute;
    width: 700px;
    height: 760px;
    border-radius: 50%;
    background: rgba(82,178,162,0.7);
    z-index: 0;
    left: calc(-54% - 20px);
  }
  &::after{
    top: -450px;
  }
  &::before{
    top: -418px;
  }
  &__ttl{
    font-size: 1.6rem;
    padding-top: 60px;
  }
  &__point{
    padding-top: 14px;
    font-size: 3.2rem;
    font-weight: 500;
    span{
      font-size: 2rem;
    }
  }
}
.inner-box-result{
  width: 260px;
  height: 260px;
  margin: 40px auto 0;
  border-radius: 50%;
  background: #fff;
  position: relative;
  z-index: 10;
  text-align: center;
  
  .result-point{
    font-size: 6rem;
    &.bad{
      color: $pink;
    }
    &.soso{
      color: $base;
    }
    &.good{
      color: $blue;
    }
  }
}

.btn-calender{
  width: 100%;
  height: 72px;
  margin:130px 0 36px;
  font-size: 1.6rem;
  font-weight: 500;
  border:solid 4px rgba(213,109,118,0.5);
  border-radius: 6px;
  text-align: center;
  line-height: 40px;
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $black;
    span:first-child{
    display: block;
    width: 52px;
    position: relative;
    top: 8px;
  }
  }
}
.list-comment{
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 36px;
  &__img{
    width: 40px;
    text-align: center;
    span{
      display: block;
      margin-bottom: 10px;
      font-size: 1.2rem;
      color: $deepGray;
      font-family: $roboto;

    }
    img{
      height: auto;
    }
  }
  &__txt{
    width: 276px;
    height: 72px;
    line-height: 72px;
    background-image: url("../img/bg-com01.png");
    color: $base;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    position: absolute;
    right: 0;
  }
}

.box-all{
  .box-all-inner{
    display: flex;
    justify-content: space-between;
    >div{
      display: flex;
      align-items: baseline;
    }
  }
  span{
    font-size: 1.6rem;
  }
  &__img{
    position: relative;
    top: 6px;
    margin-left: 4px;
    width: 40px;
  }
  &__txt{
    margin-top: 8px;
    width: 100%;
    height: auto;
    padding: 24px 12px 14px 12px;
    background-image: url("../img/bg-com02.png");
    color: $base;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 1.3rem;
  }
}
.btn-return-mypage{
  padding: 10px 20px;
  background: $red;
  color: #fff;
  font-size: 1.3rem;
  border-radius: 5px;
}


/* sc-home */
.box-chara{
  background: $lightBase;
  position: relative;
  &__main{
    padding: 22px 0;
  }
  &__mes{
    width: 88%;
    margin: 0 auto;
    padding: 10px;
    background: $base;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -8px;
      border: 8px solid transparent;
      border-top: 14px solid $base;
    }
  }
  &__img{
    width: 84px;
    margin: 20px auto 0;
  }
  &__info{
    display: flex;
    padding: 8px 12px;
    background: rgba(255,255,255,0.15);
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    bottom: 18px;
    left: 16px;
    >div{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    figure{
      width: 36px;
      margin-right: 8px;
    }
    span:last-child{
      font-size: 1.2rem;
    }
    &.bad span{
      color: $pink;
    }
    &.soso span{
      color: $base;
    }
    &.good span{
      color: $blue;
    }
  }
}
.box-btn-main{
  margin: 12px 16px 0;
  display: flex;
  justify-content: space-between;
  div{
    width: 102px;
    border-radius: 8px;
    padding: 16px 0;
    text-align: center;
    p{
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin: 0 auto 4px;
      padding: 6px;
    }
    span{
      font-size: 1.2rem;
    }
  }
}
.btn-morning{
  border: solid 1px rgba(255,231,178,0.43);
  background: rgba(253,238,203,0.43);
  p{
    background: #ffe7b2;
  }
  span{
    color: #FFB100;
  }
}
.btn-night{
  background: #F7F7F7;
  p{
    background: #E0E5F9;
  }
  span{
    color: #4F69BE;
  }
}
.btn-ate{
  background: #E9F5EC;
  p{
    background: #D6EADA;
  }
  span{
    color: #62B173;
  }
}
.btn-check{
  height: 72px;
  line-height: 72px;
  border-radius: 8px;
  margin: 12px 16px 0;
  background: #C5CBD0;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}
.btn-check.on{
  position: relative;
  padding-left: 32px;
  color: #FF747E;
  p{
    width: 14px;
    position: absolute;
    right: 45px;
    top: 9px;
    z-index: 0;
    img{
            position: relative;
    bottom: 8px;
      }
    &::before{
      display: block;
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      background: #FFD9D9;
      border-radius: 50%;
      z-index: -1;
      top: 12px;
      right: -8px;
      
    }
  }
  background: #FFF2F2;
  font-size: 1.6rem;
  text-align: left;
}

.modal{
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  z-index: 10;
  transition: ease 1s;
  &__quest{
    font-size: 1.4rem;
    color: $base;
    background-image: url("../img/bg-com04.png");
    width: 170px;
    height: 78px;
    background-size: contain;
    text-align: center;
    line-height: 66px;
    font-weight: 500;
  }
  &__chara{
    width: 94px;
    margin-left: 166px;
  }
  &__btns{
    display: flex;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    button{
      height: 72px;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 500;
    }
    .btn-n{
      width: 50%;
      background: rgba(82,178,162,0.8);
      border-radius: 0 0 0 8px;
    }
    .btn-y{
      width: 50%;
      background: $base;
      border-radius: 0 0 8px 0;
    }
  }
  &.show{
    display: block;
  }
}
.inner-modal{
  width: 310px;
  height: 310px;
  padding: 30px 20px;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.btn-close{
  width: 100%;
  background: $base;
  border-radius: 0 0 8px 8px;
}



/* sc-set */
.sc-set{
  padding: 0 40px 100px 40px;
  h2{
    font-size: 3.2rem;
  }
  .box-push{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    h3{
      font-size: 2rem;
    }
    &__btns{
      display: flex;
      align-items: center;
    }
  }
}
.btn-decision{
  display: block;
  background: #dadada;
  border-radius: 8px;
  width: 100px;
  padding: 10px 20px;
  font-size: 1.3rem;
  margin: 10px auto 20px;
}
.btn-push{
  width: 60px;
  height: 32px;
  border-radius: 100px;
  position: relative;
  margin: 0 10px;
  span{
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    transition: ease 0.2s;
  }
  &.on{
    border: solid 1px $base;
    span{
      left: 30px;
      background: $base;
    }
  }
  &.off{
    border: solid 1px $pink;
    span{
      left: 2px;
      background: $pink;
    }
  }
}
.box-time{
  border: solid 4px $gray;
  border-radius: 8px;
}
.btn-push-off,
.btn-push-on{
  font-size: 1.4rem;
  font-family: $roboto;
}
.btn-push-off.check{
  color: $pink;
}
.btn-push-on.check{
  color: $base;
}

.time-display{
  width: 100px;
  margin: 45px auto 20px;
  font-weight: 500;
  span{
      font-size: 1.3rem;
    }
  div{
    display: flex;
    font-weight: 500;
    font-size: 2.8rem;
      font-family: $roboto;
  }
}

.time-change{
  display: flex;
}

.btn-logout{
  width: 100%;
  height: 62px;
  margin-top: 40px;
  line-height: 56px;
  border: solid 4px $gray;
  border-radius: 6px;
  font-size: 1.6rem;
}

/* マイページ */
.msg{
  font-size: 1.3rem;
  color :$red;
}
.inner-box-data > .msg{
  margin: 20px 0 28px;
}
.graph-line .msg{
  margin: 0 10px;
}
.sc-my{
  padding-bottom: 110px;
  li{
    list-style-type: none;
  }
  &.bad{
    h2{
      &::before{
        background: $bad;
      }
      span{
        color: $bad;
      }
    }
    .point-check{
      color: $bad;
    }
  }
  &.soso{
    h2{
      &::before{
        background: $base;
      }
      span{
        color: $base;
      }
    }
    .point-check{
      color: $base;
    }
  }
  &.good{
    h2{
      &::before{
        background: $blue;
      }
      span{
        color: $blue;
      }
    }
    .point-check{
      color: $blue;
    }
  }
  h2{
    margin: 60px 0 32px 40px;
    font-size: 2.6rem;
    position: relative;
    font-weight: 500;
    &::before{
      display: block;
      content: "";
      width: 12px;
      height: 12px;
      position: absolute;
      top: 36%;
      left: -22px;
      border-radius: 4px;
    }
  }
}
.box-points{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  .point-check{
    font-size: 3.2rem;
    span{
      font-size: 2.4rem;
    }
  }
}
.btn-history{
  width: 210px;
  height: 42px;
  background: $base;
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  line-height: 42px;
  margin: 25px auto 0;
  a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
  }
}
.box-data{
  margin-top: 70px;
  &__ttl{
    display: flex;
    justify-content: space-between;
    padding: 14px 24px;
    background: $lightGray;
    h3{
      font-size: 1.8rem;
      font-weight: 400;
    }
    ul{
      display: flex;
      align-items: center;
    }
    ul li{
      font-size: 1.2rem;
      position: relative;
      margin-left: 42px;
      &::before{
        display: block;
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        left: -24px;
      }
      &.now::before{
        background: $red;
      }
      &.now::after{
        display: block;
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        left: -48px;
        top: 0px;
        background: $base;
      }
      &.first::before{
        background-image:repeating-linear-gradient(-45deg, #F0A5AB, #F0A5AB 3px, #E29FA4 0, #E29FA4 4px);
        border: solid 1px #E29FA4;
      }
    }
  }
  .data-when{
    font-size: 1.2rem;
    margin-top: 40px;
    position: relative;
    &::before{
      display: block;
      content: "";
      position: absolute;
      top: 7px;
      left: -10px;
      width: 4px;
      height: 4px;
      background: $base;
    }
  }
}
.inner-box-data{
  margin: 0 24px;
}
.box-graph-rod li{
  width: 100%;
  background: #fbfbfb;
  margin: 10px 0 22px;
  border-radius: 5px;
  padding: 20px 26px;
  p{
    font-size: 1.3rem;
    >span{
      margin-left: 20px;
      font-size: 1.3rem;
      position: relative;
      font-family: $roboto;
      &::after{
        display: block;
        content: "";
        position: absolute;
        top: 6px;
        right: -18px;
      }
      span{
        font-size: 1.6rem;
      }
    }
    &.up{
      >span{
        color: $red;
      }
      >span::after{
        border-right: 6px solid transparent;
        border-bottom: 6px solid $red;
        border-left: 6px solid transparent; 
      }
    }
    &.down{
      >span{
        color: $blue;
      }
      >span::after{
        border-top: 6px solid $blue;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
      }
    }
  }
}
.graph-rod{
  display: flex;
  width: 100%;
  height: 28px;
  position: relative;
  margin-top: 8px;
  div{
    height: 100%;
    position: absolute;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 5px;
    span{
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .over{
    background: $red;
    z-index: 10;
  }
  .remain{
    background: $gray;
    z-index: 0;
  }
  .now{
    background: $base;
    z-index: 10;
  }
  .first{
    background-image:repeating-linear-gradient(-45deg, #F0A5AB, #F0A5AB 3px, #E29FA4 0, #E29FA4 4px);
    z-index: 1;
  }
}

/* .firstのleft値だけjsで操作する */
/* あとで消す */
.point-electric{
  .over{
    width: 230px;
  }
  .remain{
    width: 100%;
  }
}
.point-smoke{
  .now{
    width: 146px;
  }
  .first{
    width: 210px;
  }
  .remain{
    width: 100%;
  }
}

.box-graph-select li{
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  >p{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    span{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
      padding: 5px;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      img{
        width: auto;
        height: auto;
      }
    }
  }
  &.box-vege p span{
    background: #f0faf2;
  }
  &.box-fish p span{
    background: #F6F6F6;
  }
  &.box-fruit p span{
    background: #FAF8F2;
  }
}
.graph-select{
  display: flex;
  li{
    display: block;
    font-size: 1.2rem;
    width: 66px;
    height: 28px;
    margin: 0 2px;
    text-align: center;
    line-height: 28px;
    color: $gray;
    background: $lightGray;
    border-radius: 3px;
    &.on{
      color: #fff;
    }
    &:first-child.on{
      background: #3BD5BB;
    }
    &:nth-of-type(2).on{
      background: #29B59D;
    }
    &:last-child.on{
      background: #149D85;
    }
  }
}

.box-graph-radar{
  margin-top: 14px;
  padding: 30px 0;
  text-align: center;
  border-radius: 10px;
  background: $lightGray;
  p:first-child{
    font-size: 1.3rem;
    span{
      font-size: 1.8rem;
      color: $base;
    }
  }
  p:last-child{
    margin-top: 10px;
    font-size: 1.2rem;
  }
}

.graph-line{
  margin: 0 20px 34px 20px;
}
.graph-radar{
  overflow: hidden;
  margin: 30px 0;
}
#graph-social{
  position: relative;
  left: -100px;
}