.sc-top,
.sc-regi,
.sc-conf,
.sc-log,
.sc-comp{
  background: $base;
}

/* sc-top */
.sc-top{
  text-align: center;
  .box-btns{
    width: 290px;
  }
  &__logo{
    width: 156px;
    margin: 0 auto;
  }
  &__ttl{
    font-size: 2.4rem;
    span{
      font-size: 1.6rem;
    }
  }
}
.box-logo{
  margin: 42% 0;
}




/* sc-regi */
.sc-regi{
  padding: 0 16px;
  .box-btns{
    margin: 56px 0 26px;
  }
  .form-parts{
    margin-left: 20px;
  }
}



/* form類 */
.form-parts{
  h3,p{
    font-size: 1.3rem;
  }
  h3{
    margin-bottom: 10px;
  }
  p input{
    width: 100%;
    &::placeholder{
      color: #fff;
      opacity: 0.2;
    }
  }
}
.form-name{
  padding-top: 14px;
  padding-bottom: 10px;
}
.form-mail,
.form-pass01,
.form-pass02{
  padding-top: 34px;
  padding-bottom: 10px;
}
.form-name,
.form-mail,
.form-pass01,
.box-form-txt{
  border-bottom: solid 1px rgba(255,255,255,0.15);
}

.form-gender{
  display: flex;
  margin-top: 18px;
  align-items: center;
  h3{
    margin: auto 28px auto 0;
  }
}
.list-gender{
  display: flex;
  li{
    margin-right: 5px;
    list-style-type: none;
  }
}
input[name="regi-gender"]{
  display: none;
}
input[name="regi-gender"]+label{
  display: block;
  width: 74px;
  height: 30px;
  position: relative;
  text-align: center;
  line-height: 30px;
  font-size: 1.2rem;
  background: $base;
  &::before{
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.06);
  }
}
#geander01:checked + label{
  background: $blue;
}
#geander02:checked + label{
  background: $pink;
}
#geander03:checked + label{
  background: $yellow;
}

.form-birth{
  display: flex;
  margin-top: 20px;
  h3{
    margin: auto 8px auto 0;
  }
}
.box-birth{
  display: flex;
  h3{
    margin-right: 8px;
  }
  p{
    width: 44px;
    margin-right: 6px;
    padding: 0 10px 4px 10px;
    border-bottom: solid 1px rgba(255,255,255,0.15);
    font-size: 1.8rem;
    &:first-child{
      width: 68px;
    }
    input{
      text-align: center;
    }
  }
}

.form-partner{
  margin-top: 30px;
  >p{
    font-size: 1.2rem;
    margin-top: 14px;
  }
}
.list-partner{
  display: flex;
  li{
    margin-right: 6px;
    list-style-type: none;
  }
}
input[name="regi-partner"]{
  display: none;
}
input[name="regi-partner"]+label{
  display: flex;
  align-items: center;
  width: 74px;
  height: 74px;
  background: #fff;
  span{
    display: block;
    margin: 0 auto;
    width: 18px;
  }
}
#partner01:checked + label{
  border: solid 2px $blue;
}
#partner02:checked + label{
  border: solid 2px $pink;
}
#partner03:checked + label{
  border: solid 2px $yellow;
}


/* sc-conf */
.sc-conf{
  .box-btns{
    margin: 56px 0 26px;
    padding: 0 16px;
  }
  .head-be{
    padding: 0 16px;
  }
  .form-parts{
    padding-left: 38px;
  }
  .form-pass02,
  .form-gender,
  .form-birth{
    border-bottom: solid 1px rgba(255,255,255,0.15);
  }
  .form-gender,
  .form-birth{
    margin: 0;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .form-gender p{
    width: 74px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 1.2rem;
    background: $blue;
    color: #fff;
  }
  .form-gender p.gender0{
    background: $blue;
  }
  .form-birth p{
    font-size: 1.8rem;
  }
  .form-partner{
    margin-top: 15px;
  }
}
.conf-partner{
  display: flex;
  align-items: center;
  .partner-img{
    display: flex;
    align-items: center;
    width: 74px;
    height: 74px;
    margin-right: 15px;
    background: #fff;
    border: solid 2px $blue;
    span{
      display: block;
      margin: 0 auto;
      width: 18px;
    }
    &.partner0{
      border: solid 2px $blue;
    }
  }
  .partner-name{
    font-size: 1.4rem;
  }
}





.wrap-af{
  display: none;
}