.wrap-be{
  position: relative;
  .sc{
    position: absolute;
  }
}
.sc-regi,
.sc-conf,
.sc-comp,
.sc-log{
  left: 100%;
  transition: ease 0.4s;
}

.sc-regi.show,
.sc-conf.show,
.sc-comp.show,
.sc-log.show{
  left: 0%;
}

/* sc-load */
.sc-load{
  position: absolute;
  z-index: 10;
  opacity: 1;
  transition: ease 1s;
  h1{
    width: 136px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

/* sc-top */
.sc-top{
  text-align: center;
  position: relative;
  .box-btns{
    width: 290px;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
  }
  &__logo{
    width: 40%;
    margin: 0 auto;
  }
  &__ttl{
    margin-top: 12px;
    font-size: 2.4rem;
    font-weight: 500;
    span{
      font-size: 1.6rem;
    }
  }
}
.box-logo{
  margin: 30% 0;
}

/* sc-regi */
.sc-regi{
  .box-btns{
    margin: 56px 0 26px;
  }
  .form-parts{
    margin-left: 14px;
  }
}

/* form類 */
.form-parts{
  h3,p{
    font-size: 1.3rem;
  }
  h3{
    margin-bottom: 10px;
  }
  p input{
    width: 100%;
    &::placeholder{
      color: #fff;
      opacity: 0.2;
    }
    &.er::placeholder{
      color: $yellow;
      opacity: 1;
    }
  }
}
.form-name,
.form-mail,
.form-pass01,
.form-pass02,
.form-address{
  padding-top: 14px;
  padding-bottom: 10px;
}

.form-name,
.form-mail,
.form-pass01,
.form-pass02,
// .box-form-txt,
.form-pass,
.form-address{
  border-bottom: solid 1px rgba(255,255,255,0.15);
}
.form-name.er,
.form-mail.er,
.form-pass01.er,
.form-pass02.er,
// .box-form-txt.er,
.form-pass.er,
.form-address.er{
  border-bottom: solid 1px $yellow;
}

.form-gender{
  margin-top: 18px;
  .inner-gender{
    display: flex;
    align-items: center;
  }
  h3{
    margin: auto 28px auto 0;
  }
  .error-text{
    margin: 5px 0 0 54px;
  }
}
.list-gender{
  display: flex;
  li{
    margin-right: 5px;
    list-style-type: none;
  }
}
input[name="regi-gender"]{
  display: none;
}
input[name="regi-gender"]+label{
  display: block;
  width: 66px;
  height: 30px;
  position: relative;
  text-align: center;
  line-height: 30px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 2px;
  background: $base;
  &::before{
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.06);
  }
}
#geander01:checked + label{
  background: $blue;
}
#geander02:checked + label{
  background: $pink;
}
#geander03:checked + label{
  background: $yellow;
}

.form-birth{
  margin-top: 20px;
  .inner-birth{
    display: flex;
  }
  h3{
    margin: auto 8px auto 0;
  }
  .error-text{
    margin: 5px 0 0 58px;
  }
}
.box-birth{
  display: flex;
  h3{
    margin-right: 8px;
  }
  p{
    width: 44px;
    margin-right: 6px;
    padding: 0 10px 4px 10px;
    border-bottom: solid 1px rgba(255,255,255,0.15);
    font-size: 1.8rem;
    &:first-child{
      width: 68px;
    }
    input{
      text-align: center;
    }
  }
}

.form-partner{
  margin-top: 30px;
  .attent-text{
    font-size: 1.2rem;
    margin-top: 14px;
  }
  .error-text{
    margin-bottom: 10px;
  }
}
.list-partner{
  display: flex;
  li{
    margin-right: 6px;
    list-style-type: none;
  }
}
input[name="regi-partner"]{
  display: none;
}
input[name="regi-partner"]+label{
  display: flex;
  align-items: center;
  width: 74px;
  height: 74px;
  background: #fff;
  span{
    display: block;
    margin: 0 auto;
    width: 38px;
  }
  border-radius: 6px;
}
#partner01:checked + label{
  border: solid 2px $blue;
}
#partner02:checked + label{
  border: solid 2px $pink;
}
#partner03:checked + label{
  border: solid 2px $yellow;
}

.error-text{
  display: none;
  color: $yellow;
  font-size: 1.2rem;
  font-weight: 500;
}

.form-parts.er{
  .error-text{
    display: block;
  }
}
.form-gender.er{
  input[name="regi-gender"]+label{
    border: solid 1px $yellow;
  }
}
.form-birth.er{
  margin-top: 10px;
  .box-birth p{
    border-bottom: solid 1px $yellow;
  }
}
.form-partner.er{
  margin-top: 12px;
  input[name="regi-partner"]+label{
    border: solid 1px $yellow;
  }
  h3{
    margin-bottom: 2px;
  }
}

/* sc-conf */
.sc-conf{
  .box-btns{
    margin: 56px 0 26px;
  }
  .form-parts{
    padding-left: 38px;
  }
  .form-pass02,
  .form-gender,
  .form-birth{
    border-bottom: solid 1px rgba(255,255,255,0.15);
  }
  .form-gender,
  .form-birth{
    margin: 0;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .conf-gender{
    width: 74px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    border-radius: 2px;
  }
  .conf-gender.gender0{
    background: $blue;
  }
  .conf-gender.gender1{
    background: $pink;
  }
  .conf-gender.gender2{
    background: $yellow;
  }
  .conf-birth{
    font-size: 1.8rem;
  }
  .form-partner{
    margin-top: 15px;
    >p{
      color: $yellow;
      margin-top: 14px;
    }
  }
  .form-gender{
    display: flex;
  }
  .form-birth{
    display: flex;
    h3{
      margin: auto 18px auto 0;
    }
  }
}
.conf-partner{
  display: flex;
  align-items: center;
  .partner-img{
    display: flex;
    align-items: center;
    width: 74px;
    height: 74px;
    margin-right: 15px;
    background: #fff;
    border-radius: 6px;
    span{
      display: block;
      margin: 0 auto;
      width: 18px;
    }
    &.partner0{
      border: solid 2px $blue;
    }
    &.partner1{
      border: solid 2px $pink;
    }
    &.partner2{
      border: solid 2px $yellow;
    }
  }
  .partner-name{
    font-size: 1.4rem;
  }
}



/* sc-comp */
.sc-comp{
  position: relative;
  .head-be{
    border: none;

  }
  .box-comp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    p{
      &:first-child{
        width: 140px;
        margin: 0 auto 45px;
      }
      margin-bottom: 45px;
      font-size: 1.8rem;
      text-align: center;
      font-weight: 500;
    }
    .box-btns{
      width: 290px;
    }
  }
}

/* sc-log */
.sc-log{
  position: relative;
  .head-be{
    border: none;
    margin-bottom: 70px;
  }
  h2{
    span{
      display: block;
      width: 88px;
      margin: 0 auto 8px auto;
    }
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
  }
  .form{
    margin: 0 26px 0 32px;
  }
  .form-pass{
    margin-top: 26px;
    padding-bottom: 10px;
  }
  .btn-forget{
    margin: 16px 16px 0 0;
    text-align: right;
    a{
      color: #fff;
      text-decoration: none;
      font-size: 1.3rem;
    }
  }
  .box-btns{
    width: calc(100% - 32px);
    margin: 0 16px;
    position: absolute;
    bottom: 34px;
    p{
      text-align: center;
    }
  }
}