$base: #52B2A2;
$lightBase: #89c7bd;
$blue: #00A7FF;
$pink: #CC6484;
$bad: #ED4096;
$red: #D56D76;
$yellow: #EFDC45;
$gray: #DADADA;
$deepGray: #707070;
$lightGray: #F6F6F6;
$black: #333;
$roboto: 'Roboto', sans-serif;